<ion-content>
  <ion-list>
    <ion-list-header>
      CCPV
    </ion-list-header>
    <button menuClose ion-item (click)="open('top')">
      <ion-icon name="home" item-left></ion-icon>
      トップ
    </button>
    <button menuClose ion-item (click)="open('list')" *ngIf="isAuthenticated">
      <ion-icon name="list" item-left></ion-icon>
      リスト
    </button>
    <button menuClose ion-item *ngIf="!isAuthenticated" (click)="signIn()">
      <ion-icon name="log-in" item-left></ion-icon>
      ログイン
    </button>
    <button menuClose ion-item *ngIf="isAuthenticated" (click)="signOut()">
      <ion-icon name="log-out" item-left></ion-icon>
      ログアウト
    </button>
    <ion-item-divider *ngIf="isAuthenticated && isAdmin">
      管理者
    </ion-item-divider>
    <button menuClose ion-item (click)="open('statistics')" *ngIf="isAuthenticated && isAdmin">
      <ion-icon name="pulse" item-left></ion-icon>
      統計
    </button>
    <button menuClose ion-item (click)="open('messages')" *ngIf="isAuthenticated && isAdmin">
      <ion-icon name="clipboard" item-left></ion-icon>
      メッセージ
    </button>
  </ion-list>
</ion-content>
