<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>リスト</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed no-padding>
    <ion-list *ngIf="lists.length > 0">
      <button ion-item *ngFor="let list of lists" (click)="open(list)">
        <ion-icon name="logo-twitter" item-left></ion-icon>
        <ion-label>
          {{list.name}}
        </ion-label>
        <div item-content>
          {{displayDate(list)}}
        </div>
      </button>
    </ion-list>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab color="light" (click)="openSearch()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
