<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>メッセージ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed no-padding>
    <div class="no-list" *ngIf="messages.length === 0">
      メッセージはありません
    </div>
    <message [deleteMessage]="deleteMessage" [message]="message" *ngFor="let message of messages"></message>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab color="light" (click)="addMessagePrompt()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-infinite-scroll [style.display]="next === null ? 'none' : 'block'" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
